<a href="https://colab.research.google.com/github/TechCurate/Data-Analysis-using-Python/blob/main/Foundation_of_DS_Session_4_Data_Wrangling_Techiques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Necessary imports

[10 Minutes to Pandas](https://pandas.pydata.org/docs/user_guide/10min.html)

[Pandas DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

[NumPy Basics](https://numpy.org/doc/stable/user/absolute_beginners.html)

In [ ]:
import pandas as pd
import numpy as np

# Data Cleaning

## Handling Missing Values

In [ ]:
# Example dataset
data = {'Name': ['Alice', 'Bob', 'Charlie', np.nan],
        'Age': [25, 30, 35, 40],
        'City': ['New York', np.nan, 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Identifying missing values
print(df.isnull())
print()

# Filling missing values
df['Name'].fillna('Unknown', inplace=True)
df['City'].fillna('Unknown', inplace=True)
print(df)

    Name    Age   City
0  False  False  False
1  False  False   True
2  False  False  False
3   True  False  False

      Name  Age         City
0    Alice   25     New York
1      Bob   30      Unknown
2  Charlie   35  Los Angeles
3  Unknown   40      Chicago

## Removing Duplicates

In [ ]:
# Example dataset with duplicates
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
        'Age': [25, 30, 35, 25, 31]}
df = pd.DataFrame(data)
print(df)
print()

# Removing duplicates
df.drop_duplicates(inplace=True)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    Alice   25
4      Bob   31

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
4      Bob   31

## Data Type Conversions

In [ ]:
# Example dataset
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': ['25', '30', '35']}
df = pd.DataFrame(data)
print(df.dtypes)
print()

# Converting data types
df['Age'] = df['Age'].astype(int)
print(df.dtypes)

Name    object
Age     object
dtype: object

Name    object
Age      int64
dtype: object

# Data Transformation

## Filtering and Selecting Data

In [ ]:
# Example dataset
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Chicago', 'Los Angeles', 'Houston']}
df = pd.DataFrame(data)
print(df)
print()

# Filtering data
filtered_df = df[df['Age'] > 30]
print(filtered_df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30      Chicago
2  Charlie   35  Los Angeles
3    David   40      Houston

      Name  Age         City
2  Charlie   35  Los Angeles
3    David   40      Houston

## Sorting Data

In [ ]:
# Sorting data
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, np.nan, 35, 40],
        'City': ['New York', 'Chicago', 'Los Angeles', 'Houston']}
df = pd.DataFrame(data)

sorted_df = df.sort_values(by='Age')
print(sorted_df)

      Name   Age         City
0    Alice  25.0     New York
2  Charlie  35.0  Los Angeles
3    David  40.0      Houston
1      Bob   NaN      Chicago

## Applying Functions

In [ ]:
# Applying functions
"""
apply() is a function that lets you do something to every item in a column.
lambda x: x + 10 is a small, unnamed function. Hereâ€™s what it does:

    lambda creates a quick, one-time use function.
    x represents each value in the "Age" column.
    x + 10 means we take each value (age) and add 10 to it.
"""
df['Age_plus_10'] = df['Age'].apply(lambda x: x + 10)
print(df)

      Name   Age         City  Age_plus_10
0    Alice  25.0     New York         35.0
1      Bob   NaN      Chicago          NaN
2  Charlie  35.0  Los Angeles         45.0
3    David  40.0      Houston         50.0

# Data Merging and Joining

## Concatenating DataFrames

In [ ]:
# Example datasets
df1 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Zulu'],
                    'Age': [25, 30, 90]})
df2 = pd.DataFrame({'Name': ['Charlie', 'David'],
                    'Age': [35, 40]})

# Concatenating dataframes
concatenated_df = pd.concat([df1, df2])
print(concatenated_df)

      Name  Age
0    Alice   25
1      Bob   30
2     Zulu   90
0  Charlie   35
1    David   40

## Merging DataFrames

In [ ]:
# Example datasets
df1 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Zulu'],
                    'Age': [25, 30, 90]})
df2 = pd.DataFrame({'Name': ['Alice', 'Bob'],
                    'City': ['New York', 'Chicago']})
print(df1)
print()
print(df2)
print()

# Merging dataframes (drops entry without complete data)
merged_df = pd.merge(df1, df2, on='Name')
print(merged_df)

    Name  Age
0  Alice   25
1    Bob   30
2   Zulu   90

    Name      City
0  Alice  New York
1    Bob   Chicago

    Name  Age      City
0  Alice   25  New York
1    Bob   30   Chicago

# Data Reshaping

## Pivoting Data

In [ ]:
# Example dataset
data = {'Name': ['Alice', 'Bob', 'Alice', 'Bob'],
        'Year': [2020, 2020, 2021, 2021],
        'Score': [85, 90, 88, 92]}
df = pd.DataFrame(data)
print(df)
print()

# Pivoting data
pivot_df = df.pivot_table(index='Name', columns='Year', values='Score')
print(pivot_df)

    Name  Year  Score
0  Alice  2020     85
1    Bob  2020     90
2  Alice  2021     88
3    Bob  2021     92

Year   2020  2021
Name
Alice    85    88
Bob      90    92

## Melting Data

In [ ]:
# Example dataset
data = {'Name': ['Alice', 'Bob'],
        '2020': [85, 90],
        '2021': [88, 92]}
df = pd.DataFrame(data)
print(df)
print('\n')

# Melting data
melted_df = df.melt(id_vars=['Name'], var_name='Year', value_name='Score')
print(melted_df)

    Name  2020  2021
0  Alice    85    88
1    Bob    90    92


    Name  Year  Score
0  Alice  2020     85
1    Bob  2020     90
2  Alice  2021     88
3    Bob  2021     92

# Use Case: Analyzing Sales Data

## Objective

In this use case, we will work with a hypothetical sales dataset. The goal is to clean, transform, merge, and reshape the data to analyze the monthly sales performance of different products across various regions.
### Starting Point

We have two datasets:

    Sales Data: Contains information about sales transactions.
        Columns: TransactionID, Date, ProductID, Quantity, Price, Region
    Product Data: Contains information about products.
        Columns: ProductID, ProductName, Category

### Expected Result

By the end of this use case, we will have a cleaned and merged dataset that shows the total sales per product, per region, for each month. We will also identify any missing data, remove duplicates, and convert data types as necessary.

## Datasets

### Sales Data

In [ ]:
import pandas as pd
import numpy as np

# Sample Sales Data
sales_data = {
    'TransactionID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Date': ['2023-01-15', '2023-01-20', '2023-02-05', '2023-02-10', '2023-03-01',
             '2023-03-15', '2023-04-01', '2023-04-05', '2023-05-10', '2023-05-15'],
    'ProductID': [101, 102, 103, 101, 102, 103, 101, 102, 103, 104],
    'Quantity': [2, 1, 5, 3, 2, 1, 4, 3, 5, 2],
    'Price': [20, 30, 25, 20, 30, 25, 20, 30, 25, 40],
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South']
}
sales_df = pd.DataFrame(sales_data)
print(sales_df)

   TransactionID        Date  ProductID  Quantity  Price Region
0              1  2023-01-15        101         2     20  North
1              2  2023-01-20        102         1     30  South
2              3  2023-02-05        103         5     25   East
3              4  2023-02-10        101         3     20   West
4              5  2023-03-01        102         2     30  North
5              6  2023-03-15        103         1     25  South
6              7  2023-04-01        101         4     20   East
7              8  2023-04-05        102         3     30   West
8              9  2023-05-10        103         5     25  North
9             10  2023-05-15        104         2     40  South

### Product Data

In [ ]:
# Sample Product Data
product_data = {
    'ProductID': [101, 102, 103, 104],
    'ProductName': ['Widget A', 'Widget B', 'Widget C', 'Widget D'],
    'Category': ['Category 1', 'Category 2', 'Category 1', 'Category 3']
}
product_df = pd.DataFrame(product_data)
print(product_df)

   ProductID ProductName    Category
0        101    Widget A  Category 1
1        102    Widget B  Category 2
2        103    Widget C  Category 1
3        104    Widget D  Category 3

## Steps and Code

### Data Cleaning

*   Handling Missing Values: Check for and fill any missing values.
*   Removing Duplicates: Ensure no duplicate transactions.
*   Data Type Conversions: Convert Date to datetime format.

In [ ]:
# Handling missing values
print(sales_df.isnull().sum())
print('\n')

# Removing duplicates
sales_df.drop_duplicates(inplace=True)

# Converting data types
sales_df['Date'] = pd.to_datetime(sales_df['Date'])
print(sales_df.dtypes)

TransactionID    0
Date             0
ProductID        0
Quantity         0
Price            0
Region           0
dtype: int64


TransactionID             int64
Date             datetime64[ns]
ProductID                 int64
Quantity                  int64
Price                     int64
Region                   object
dtype: object

### Data Transformation
* Adding a 'Total Sales' Column: Calculate total sales for each transaction.
* Filtering Data: Filter transactions to include only those in the first quarter of 2023.

In [ ]:
# Adding 'Total Sales' column
sales_df['TotalSales'] = sales_df['Quantity'] * sales_df['Price']

# Filtering data
filtered_sales_df = sales_df[sales_df['Date'] < '2023-04-01']
print(filtered_sales_df)

   TransactionID       Date  ProductID  Quantity  Price Region  TotalSales
0              1 2023-01-15        101         2     20  North          40
1              2 2023-01-20        102         1     30  South          30
2              3 2023-02-05        103         5     25   East         125
3              4 2023-02-10        101         3     20   West          60
4              5 2023-03-01        102         2     30  North          60
5              6 2023-03-15        103         1     25  South          25

### Data Merging
* Merge sales_df and product_df on ProductID

In [ ]:
# Merging dataframes
merged_df = pd.merge(filtered_sales_df, product_df, on='ProductID')
print(merged_df)

   TransactionID       Date  ProductID  Quantity  Price Region  TotalSales  \
0              1 2023-01-15        101         2     20  North          40
1              4 2023-02-10        101         3     20   West          60
2              2 2023-01-20        102         1     30  South          30
3              5 2023-03-01        102         2     30  North          60
4              3 2023-02-05        103         5     25   East         125
5              6 2023-03-15        103         1     25  South          25

  ProductName    Category
0    Widget A  Category 1
1    Widget A  Category 1
2    Widget B  Category 2
3    Widget B  Category 2
4    Widget C  Category 1
5    Widget C  Category 1

### Data Reshaping
* Pivot Table: Create a pivot table to summarize total sales per product, per region, for each month.

In [ ]:
# Extracting month and year from 'Date'
merged_df['Month'] = merged_df['Date'].dt.to_period('M')

# Pivot table
pivot_df = merged_df.pivot_table(index=['ProductName', 'Region'], columns='Month', values='TotalSales', aggfunc='sum', fill_value=0)
print(pivot_df)

Month               2023-01  2023-02  2023-03
ProductName Region
Widget A    North        40        0        0
            West          0       60        0
Widget B    North         0        0       60
            South        30        0        0
Widget C    East          0      125        0
            South         0        0       25

# Summary and Results
* **Summary**: We started with raw sales and product data, cleaned and transformed the data, merged it into a single dataset, and then reshaped it to analyze monthly sales per product and region.
* **Results**: The pivot table provides a clear summary of total sales for each product in each region by month, helping us understand sales performance over time.